{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JustPost{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.amber.min.css">
    <link rel="shortcut icon" type="image/svg+xml" href="{% static 'justpost/img/logo.svg' %}" >
    <link rel="stylesheet" href="{% static 'justpost/css/style.css' %}">
</head>
<body>
    <nav class="container">
        <ul>
            <li>
                <img class="logo" src="{% static 'justpost/img/logo.svg' %}" alt="JustPost logo">
                <strong>JustPost</strong>
            </li>
        </ul>
        <ul>
            <li><a href="{% url 'posts:post-list' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'posts:post-create' %}">Criar Post</a></li>
                <li>
                    <details class="dropdown">
                        <summary>
                            {{ user.username }}
                        </summary>
                        <ul dir="rtl" class="fit">
                            <li><a href="{% url 'accounts:password_change' %}">Trocar Senha</a></li>
                            <li><form action="{% url 'accounts:logout' %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Logout">
                            </form></li>
                        </ul>
                    </details>
                </li>
            {% else %}
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                <li><a href="{% url 'accounts:new' %}">Registrar</a></li>
            {% endif %}
        </ul>
    </nav>
    <hr>
    <main class="container">
        {% block content %}{% endblock content %}
    </main>
</body>
</html>
