{% extends "base.html" %}

{% block content %}
    <div>
        <h2>{{ object.titulo }}</h2>
        <p>{{ object.autor.username }}<br>{{ object.data_criacao|date:"d/m/Y" }}</p>

        <div>{{ rendered_post|safe }}</div>
    </div>

    {% if user == object.autor %}
        <hr>
        <div role="group">
            <a href="{% url 'posts:post-edit' pk=object.pk %}" role="button" class="primary">Editar Post</a>
            <a href="{% url 'posts:post-delete' pk=object.pk %}" role="button" class="secondary">Deletar Post</a>
        </div>
    {% endif %}
{% endblock content %}
